<ion-view title={{artist.name}}>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header stable-bg">
        <div class="text-center item-divider">
            Songs
        </div>
        <div class="list stable-bg">
            <ion-scroll direction="x">
                <div class="row">
                    <a style="min-width: 150px;" class="item stable-bg" ng-repeat=" album in albums" ng-click="selectAlbum($index)">
                        <img style="min-width: 150px;" ng-src="img\Album_default.jpg">
                        <h4>{{album.name}}</h4>
                        <p>{{album.year}}</p>
                    </a>
                </div>
            </ion-scroll>
            <div>
            <a class="item item-avatar-left" ng-repeat=" song in songs" ng-click="selectSong($index)" >
                <img style="min-width: 20px;" ng-src="img\Album_default.jpg">
                Track {{song.id}}
            </a>
            </div>
        </div>
    </ion-content>
</ion-view>