<ion-view title={{album.name}}>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <div class="card">
                <div ng-show="showAlbumDetail" class="item item-thumbnail-left">
                    <img ng-src="img\Album_default.jpg">
                    <h2>{{album.name}}</h2>
                    <p>Year: {{album.year}}</p>
                    <p>By: {{artist.name}}</p>
                </div>
                <div  ng-show="playing" class="item range range-positive" style="height: 10px; padding: 0px">
                    <progress min="0" max="100" value="{{audioProgress()}}">></progress>
                </div>
            </div>
            <div>
                <div class="item row positive">
                    <a class="col col-33 item" href=#/app/booklists/{{artist.id}}/{{album.id}}/1">
                        <i class="icon ion-music-note"></i>
                        Play All
                    </a>
                    <div class="col col-30"></p></div>
                    <div class="col col-33"> <p>Options---></p></div>
                    <button ng-click="isShowAlbumDetail()" class=" col col-10 item ion-image" ></button>
                    <button ng-click="isShowSongs()"  class=" col col-10 item {{upOrDownArrow}}" ></button>

                </div>
                <div class="item" ng-show="showSongs">
                    <div >
                        <a ng-click="selectAlbum($index)" class="item item-icon-right positive" ng-repeat=" song in songs">
                            <i class="col col-0 icon ion-ios7-musical-note"> <h4>Track {{song.id}}</h4></i>
                            <i class="col col-10 icon ion-ios7-play-outline"></i>
                        </a>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
    <div class="tabs tabs-positive tabs-icon-only" ng-show="playin">

        <div>
            <div class="button-clear button-light">Track {{currentPlaying}}</div>
        </div>
        <div class="tab-item">
            <i class="button button-clear button-light icon ion-ios7-skipbackward" ng-click="previousSong()"></i>
        </div>
        <div class="tab-item">
            <i class="{{playOrPauseButton}}" ng-click="play()"></i>
        </div>
        <div class="tab-item">
            <i class="button button-clear button-light icon ion-stop" ng-click="stop()"></i>
        </div>
        <div class="tab-item">
            <i class="button button-clear button-light icon ion-ios7-skipforward" ng-click="nextSong()"></i>
        </div>
    </div>
</ion-view>