<ion-view title="GetaTube.com">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
    <ion-content class="stable-bg">
        <ion-list>
            <div class="list card">
                <div class="item-divider text-center">
                   www.getatube.com
                </div>
                <a class="item item-icon-left" menu-close href="#/app/search">
                    <i class="icon ion-social-vimeo"></i>
                    Video
                </a>
                <a class="item item-icon-left" menu-close href="#/app/home/music">
                    <i class="icon ion-music-note"></i>
                    Music
                </a>
                <a class="item item-icon-left" menu-close href="#/app/home/music">
                    <i class="icon ion-android-microphone"></i>
                    Teachings
                </a>
                <a class="item item-icon-left" menu-close href="#/app/bible">
                    <i class="icon ion-android-book"></i>
                    Bible
                </a>
            </div>
            <div class="list card">
                <div class="item-divider text-center">
                    New Videos
                </div>
                <a class="item item-thumbnail-left" href="#">
                    <img src="img\Album_default.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
            </div>
            <div class="list card">
                <div class="item-divider text-center">
                    Recently Album
                </div>
                <a class="item item-thumbnail-left" href="#">
                    <img src="img\Album_default.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
            </div>



            <div class="card item-divider text-center">
                More...
            </div>
        </ion-list>

    </ion-content>
</ion-view>