<ion-view title="Artists">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <div class="bar_search">
            <div style="left: 45px; right: 80px;" class="gridStyle" ng-show="isSearch">
                <input type="search" placeholder="Search" ng-model="searchText" />
            </div>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="isSearch = !isSearch" class="button button-icon ion-ios7-search" ></button>
    </ion-nav-buttons>
    <ion-content class="stable-bg">
        <ion-list >
            <div class="list card">
                <div class="item-divider text-center">
                    Music
                </div>
                <a class="item item-thumbnail-left" ng-repeat="artist in artists | filter:searchText" href="#/app/booklists/{{artist.id}}">
                    <img ng-src="img\{{artist.image}}.jpg">
                    <h3>{{artist.name}}</h3>
                    <p>Artist Descriptions</p>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
