<ion-view title="Artists">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <div class="bar_search">
            <div style="left: 45px; right: 80px;" class="gridStyle" ng-show="isSearch">
                <input type="search" placeholder="Search" ng-model="searchText" />
            </div>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="isSearch = !isSearch" class="button button-icon ion-ios7-search" ></button>
    </ion-nav-buttons>

    <div style="margin-top: 45px;">
        <ul class="nav nav-pills">
            <li ng-class="{ active: isTab(1) }">
                <a href ng-click="setTab(1)">Artist</a></li>
            <li ng-class="{ active: isTab(2) }">
                <a href ng-click="setTab(2)">Albums</a></li>
            <li ng-class="{ active: isTab(3) }">
                <a href ng-click="setTab(3)">Songs</a></li>
            <li ng-class="{ active: isTab(4) }">
                <a href ng-click="setTab(4)">New</a></li>
        </ul>
    </div>
    <ion-content style="margin-top: 35px;" class="stable-bg">
            <div class="list" ng-show="isTab(1)">
                <a class="item item-thumbnail-left" ng-repeat="artist in artists | filter:searchText" href="#/app/booklists/{{artist.id}}">
                    <img ng-src="img\Album_default.jpg">
                    <h2>{{artist.name}}</h2>
                    <p>Artist Descriptions</p>

                </a>
            </div>
            <div class="list" ng-show="isTab(2)">
                <section>
                    <ul class="nav nav-pills">
                        <li ng-class="{ active: isSet(1) }">
                            <a href ng-click="setTab2(1)">Description</a></li>
                        <li ng-class="{ active: isSet(2) }">
                            <a href ng-click="setTab2(2)">Specs</a></li>
                        <li ng-class="{ active: isSet(3) }">
                            <a href ng-click="setTab2(3)">Reviews</a></li>
                    </ul>
                    <div ng-show = "isSet(1)">
                        <h4>Description</h4>
                        <blockquote>product.description</blockquote>
                    </div>
                    <div ng-show = "isSet(2)">
                        <h4>Specs</h4>
                        <blockquote>Shine: product.shine</blockquote>
                    </div>
                    <div ng-show = "isSet(3)">
                        <h4>Reviews</h4>
                        <blockquote></blockquote>
                    </div>
                </section>

            </div>

    </ion-content>
</ion-view>
