<ion-view title="{{artist.name}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="has-header">
      <ion-list>
          <ion-item class="item item-thumbnail-left" ng-repeat=" album in albums" href="#/app/booklists/{{artist.id}}/{{album.id}}">
              <img ng-src="img\Album_default.jpg">
              <h2>{{album.name}}</h2>
              <p>Year: {{album.year}}</p>
              <p>By: {{artist.name}}</p>
          </ion-item>
     </ion-list>
  </ion-content>
</ion-view>