<ion-view title="Video">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <div style="margin-top: 45px;" class="button-bar bar-dark">
        <a class="button playerController">New</a>
        <a class="button playerController">Top</a>
        <a class="button playerController">Random</a>
        <a class="button playerController">Category</a>
    </div>
    <ion-content  style="margin-top: 50px;" class="has-header stable-bg">
        <div class="list">
            <div class="item-divider text-center">
                www.getatube.com
            </div>
            <a class="button button-positive" href="#/app/video">click</a>
            <div style="min-height: 100px;" ng-repeat="x in youTubeVideos" >
                <a class="item item-thumbnail-left list_text item-text-wrap" ng-click="selectYoutubeVideo($index)" href="#/app/video">
                    <img class="list_thumb" ng-src={{x.thumb_img_url}}>
                    <h3>{{x.video_title}}</h3>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>