<ion-view title="Song {{song.song}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="img\Artist_image.jpg">
                <h2>{{album.name}}</h2>
                <p>Year: {{album.year}}</p>
                <p>By: {{artist.name}}</p>
            </div>
            <div class="item item-image">
                <img ng-src="img\Album_default.jpg">
            </div>

            <a class="item item-icon-left positive" href="#">
                <i class="icon ion-ios7-play">Playing</i>
            </a>
        </div>
    </ion-content>
</ion-view>