<ion-view title={{chapter.name}}>
    <ion-content class="has-header">
        <div class="list card">

            <div class="item item-avatar">
                <h2>Audio goes here</h2>
            </div>

            <div class="item item-body">
                <div ng-repeat="verse in chapter.verses">
                    {{verse.text}}
                </div>

                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>